.top-bar {
  /* border: 2px dashed red; */
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.test {
  /* border: 2px dashed red; */
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.test > * {
  margin: 10px 0;
}

.test2 {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.test2 .gzroGt {
  /* width: 40%; */
}

.test3 {
  background-color: #1F1F1F;
  padding: 15px;
  width: 28%;
  /* flex-basis: 1; */
  /* flex-grow: 5; */

}

.test4 {
  /* border: 2px dashed red; */
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  height: 150px;
}

.test5 .gzroGt {
  margin-top: 8px;
  margin-right: 8px !important;
}